html, body{
  width: 100%;
  height: 100%;
}

body{
  background: #057;
  --main-bg1: #344;
  --main-bg2: #111;
  --gradient-bg: linear-gradient(var(--main-bg1), var(--main-bg2));
  background: var(--gradient-bg);
  --sel-fg: #FF0;
  --sel-bg: #000;
  color: #FFF;
  margin: 0;
  font-family: "Helvetica", "sans-serif";
  user-select: none;
}

.uiPanel{
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.scoreDisplayHeader{
  top: 0px;
  position: sticky;
}

.viewContainer{
  width: 100%;
  /* height: 100%; */
  /* overflow: hidden; */
  overflow: auto;
}

/* A standard view display, with variable sizing and margins */
.viewDisplay{
  margin: 2em auto;
  background: var(--gradient-bg);
  border: 1px solid black;
  width: 85%;
}

/* A view display that takes up the entire screen. Ex. Scoreboards */
.viewDisplayFull{
  width: 100%;
  height: 100%;
}

/* A thin, horizontal bar with tabs, used to select items */
.tabSelector{
  background: linear-gradient(#333, #373740);
}
.tabSelectorItem{
  transition: color 0.2s, background 0.2s;
  font-weight: 500;
}
.tabSelectorItem.selected{
  color: var(--sel-fg);
  background: var(--sel-bg);
  font-weight: 700;
}

/* An element that holds a table, usually with some type of stats in it*/
.tableField{
  user-select: text;
}
.tableField table, .tableField td, .tableField th{
  border: 1px solid #000;
  height: 1em;
}
.tableField th, .tableField td{
  padding-left: 0.2em;
}
.tableField th{
  text-align: left;
}

/* An element that holds some text (or possibly HTML) */
.textField{
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}


/* Utility classes */
#main{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.fullscreen{
  position: fixed;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
}
.fillparent{
  width: 100%;
  height: 100%;
}
