html, body{
  width: 100%;
  height: 100%;
}

body{
  background: #057;
  background: linear-gradient(#344, #111);
  --sel-fg: #FF0;
  --sel-bg: #000;
  color: #FFF;
  margin: 0;
  font-family: "Helvetica", "sans-serif";
}

.viewContainer{
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
}

.mainTabSelector{
  background: linear-gradient(#333, #373740);
}

.tabSelectorItem{
  transition: color 0.2s, background 0.2s;
  font-weight: 500;
}

.tabSelectorItem.selected{
  color: var(--sel-fg);
  background: var(--sel-bg);
  font-weight: 700;
}

.viewDisplay{
  width: 100%;
  height: 100%;
  display: flex;
}
.uiPanel{
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  /* border: 1px solid #FFF; /* For debugging */
  box-sizing: border-box;
  overflow: hidden;
}
.textField{
  align-items: center;
  justify-content: center;
}

#main{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fullscreen{
  position: fixed;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
}
.fillparent{
  width: 100%;
  height: 100%;
}
