html, body{
  width: 100%;
  height: 100%;
}

body{
  background: #057;
  --disabled-fg: #999;
  --main-bg1: #344;
  --main-bg15: #333;
  --main-bg2: #111;
  --link-color: #07F;
  --link-color-hover: #FA0;
  --semitransparent-bg: #334444E3;
  --main-fg: #FFF;
  --main-valid: #FFF;
  --main-invalid: #F98;
  --team-color1: #F00;
  --opp-color1: #05F;
  --gradient-bg: linear-gradient(var(--main-bg1), var(--main-bg2));
  background: var(--gradient-bg);
  --sel-fg: #FF0;
  --sel-bg: #000;
  --click-fg: #F60;
  --click-bg: #000;
  --loading-col1: #F00;
  --loading-col2: #FFF;
  color: #FFF;
  margin: 0;
  font-family: "Helvetica", "sans-serif";
  user-select: none;
  touch-action: manipulation;
}

input{
  background: var(--main-valid);
}
input.invalid{
  background: var(--main-invalid);
}

.appRoot{
  --view-display-width: 88%;
}
.appRoot.mobile{
  --view-display-width: 100%;
  --view-display-width: calc(100% - 2px);
  font-size: 0.8em;
}

.link{
  text-decoration: underline;
  font-weight: bold;
  color: var(--link-color);
  transition: color 0.2s;
}

.link:hover{
  color: var(--link-color-hover);
}

.dialog{
  opacity: 0;
  transition: opacity 0.15s;
}
.dialog .dialogBox{
  transform: scale(0.5);
  transition: transform 0.15s;
}
.dialog.showing{
  opacity: 1;
}
.dialog.showing .dialogBox{
  transform: scale(1.0);
}

.toast{
  z-index: 3;
  position: fixed;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%);
  background: var(--main-bg1);
  border: 1px solid var(--main-bg2);
  padding: 0.5em;
  border-radius: 1em;
  font-size: 1.3em;
  pointer-events: none;
  transition: opacity 0.5s;
}
.toast.ending{
  opacity: 0;
}

.uiPanel{
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.scoreDisplayHeader{
  top: 0px;
  position: sticky;
}

.viewContainer{
  width: 100%;
  /* height: 100%; */
  /* overflow: hidden; */
  overflow: auto;
}

/* A standard view display, with variable sizing and margins */
.viewDisplay{
  margin: 2em auto;
  background: var(--gradient-bg);
  border: 1px solid black;
  width: var(--view-display-width);
}

/* A view display that takes up the entire screen. Ex. Scoreboards */
.viewDisplayFull{
  width: 100%;
  height: 100%;
}

/* A thin, horizontal bar with tabs, used to select items */
.tabSelector, .tabSelectorMobileDD{
  background: linear-gradient(var(--main-bg15), var(--main-bg1));
}
.tabSelectorItem{
  transition: color 0.2s, background 0.2s;
  font-weight: 500;
}
.tabSelectorItem.selected{
  color: var(--sel-fg);
  background: var(--sel-bg);
  font-weight: 700;
}

/* An element that holds a Button UI control */
.buttonField{
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonField.fullSize button{
  width: 100%;
  height: 100%;
}
.buttonField button{
  cursor: pointer;
  font-size: 1.1em;
  border: 2px solid;
  background: var(--main-bg1);
  border-color: var(--main-bg2);
  color: var(--main-fg);
  transition: color 0.5s, background 0.5s;
}
.buttonField button.disabled{
  color: var(--disabled-fg);
}
.buttonField button.sel{
  background: var(--sel-fg);
  color: var(--sel-bg);
}
.buttonField button.click{
  background: var(--click-fg);
  color: var(--click-bg);
  transition: color 0s, background 0s;
}
.buttonField button:focus {outline:0;}

/* An element that holds a table, usually with some type of stats in it*/
.tableField{
  user-select: text;
}
.tableField table, .tableField td, .tableField th{
  border: 1px solid #000;
  height: 1em;
}
.tableField table .highlight{
  color: var(--sel-bg);
  background: var(--sel-fg);
}
.tableField th, .tableField td{
  padding-left: 0.2em;
}
.tableField th{
  text-align: left;
}

/* An element that holds some text (or possibly HTML) */
.textField{
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}


/* Utility classes */
#main{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.fullscreen{
  position: fixed;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
}
.fillparent{
  width: 100%;
  height: 100%;
}

/* Source loading.io/css */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 2.8em;
  height: 2.8em;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 2em;
  height: 2em;
  margin: 0.4em;
  border: 0.4em solid #F00;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0.1, 0.5, 0.9) infinite;
  border-color: var(--loading-col1) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  border-color: var(--loading-col2) transparent transparent transparent;
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  border-color: var(--loading-col1) transparent transparent transparent;
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  border-color: var(--loading-col2) transparent transparent transparent;
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* </source> */